<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.moust.cordova.videoplayer"
    version="1.0.1">

    <name>Video Player</name>
    <description>Native Video Player Plugin</description>
    <license>MIT</license>
    <keywords>cordova,media,player,video</keywords>
    <repo>https://github.com/moust/cordova-plugin-videoplayer.git</repo>
    <issue>https://github.com/moust/cordova-plugin-videoplayer/issues</issue>

    <js-module src="www/videoplayer.js" name="VideoPlayer">
        <clobbers target="VideoPlayer" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoPlayer">
                <param name="android-package" value="com.moust.cordova.videoplayer.VideoPlayer"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WAKE_LOCK" />
        </config-file>

        <source-file src="src/android/VideoPlayer.java" target-dir="src/com/moust/cordova/videoplayer" />
        <source-file src="misc/resources/layout/video_player.xml" target-dir="res/layout" />
        <source-file src="misc/resources/raw/close.svg" target-dir="res/raw" />
        <source-file src="misc/resources/raw/pause.svg" target-dir="res/raw" />
        <source-file src="misc/resources/raw/play.svg" target-dir="res/raw" />
        <source-file src="misc/resources/raw/repeat.svg" target-dir="res/raw" />
        <source-file src="misc/resources/raw/speakeroff.svg" target-dir="res/raw" />
        <source-file src="misc/resources/raw/speakeroff.svg" target-dir="res/raw" />
        <source-file src="misc/libs/androidsvg-1.2.1.jar" target-dir="libs" />
        <source-file src="misc/fonts/SourceSansPro-Regular.ttf" target-dir="assets/fonts" />
        <source-file src="misc/sample/sample_video.mp4" target-dir="assets/debug" />

        <config-file target="res/values/strings.xml" parent="/resources">
          <string name="restart">Neustart</string>
          <string name="pause">Pause</string>
          <string name="play">Abspielen</string>
          <string name="sound_off">Ton aus</string>
          <string name="sound_on">Ton an</string>
        </config-file>

        <!-- TODO: right "screen stay on" -->

    </platform>

</plugin>